.post-content
{
    width: 800px;
    margin: auto auto;
}

.post-content p
{
font-size: 18px;
}

.post-illustration img {
    position: absolute;
    top: 0;
    object-fit: contain;
    width: 800px;
    height: 800px;
}